# Loops 2

1. Create a loop that loops through numbers 0-15 - print each number
2. Loop through 0-30 if the number is divisible by 3 print "Fizz" if divisible by 5 "Buzz" and if divisble by 3 and 5 "FizzBuzz"
3. List of names in a list - loop through the list change the names to the length of characters ['Gina'] --> [4]

[1, 2, 3]
1
2
3

Need: For loop, range(0,16), print, list

In [5]:
nums = list(range(0,16))

In [6]:
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [7]:
print(0)

0

In [10]:
nums = list(range(0,16))
for num in nums:
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

2. Loop through 0-30 if the number is divisible by 3 print "Fizz" if divisible by 5 "Buzz" and if divisble by 3 and 5 "FizzBuzz"

In [11]:
# loop through the list and print Dank is eating 'current item in the list'
servings = ['chicken', 'potatoes', 'turkey', 'steak', 'french fries', 'ice cream', 'rice', 'beans']

print('Dank is eating chicken')

In [17]:
for dank in servings:
    print('Dank is eating' + ' ' + dank)

Dank is eating chicken
Dank is eating potatoes
Dank is eating turkey
Dank is eating steak
Dank is eating french fries
Dank is eating ice cream
Dank is eating rice
Dank is eating beans

In [26]:
for serving in servings:
    print(f"Dank is eating {serving}")

Dank is eating chicken
Dank is eating potatoes
Dank is eating turkey
Dank is eating steak
Dank is eating french fries
Dank is eating ice cream
Dank is eating rice
Dank is eating beans

In [18]:
name = 'John'

In [20]:
print(f'{name}')

John

In [28]:
restaurant = servings
restaurant

['chicken',
 'potatoes',
 'turkey',
 'steak',
 'french fries',
 'ice cream',
 'rice',
 'beans']

In [29]:
for bunny in restaurant:
    print(f'Bunny hopped on {bunny}')

Bunny hopped on chicken
Bunny hopped on potatoes
Bunny hopped on turkey
Bunny hopped on steak
Bunny hopped on french fries
Bunny hopped on ice cream
Bunny hopped on rice
Bunny hopped on beans

2. Loop through 0-30 if the number is divisible by 3 print "Fizz" if divisible by 5 "Buzz" and if divisble by 3 and 5 "FizzBuzz"

In [30]:
nums = list(range(0, 31))

In [43]:
for num in nums:
    if num == 0:
        continue
    elif num % 3 == 0 and num % 5 == 0:
        print(f'{num} FizzBuzz')
    elif num % 3 == 0:
        print(f'{num} Fizz')
    elif num % 5 == 0:
        print(f'{num} Buzz')

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 FizzBuzz

3. List of names in a list - loop through the list change the names to the length of characters ['Gina'] --> [4] --> change the element int a tuple ('Gina', 4) --> [(name, lenght_of_name)]

names = ['Ada', 'Lizzo'] 
result should be: names --> [('Ada', 3), ('Lizzo', 5)]

Use this list of names:
names =  ['Ada', 'Bea', 'Cat', 'Dank', 'Eva', 'Felicia', 'Gina', 'Lizzo']

In [70]:
names =  ['Ada', 'Bea', 'Cat', 'Dank', 'Eva', 'Felicia', 'Gina', 'Lizzo']

In [71]:
for index, girl in enumerate(names):
    print(f'{index}, {len(girl)}')

0, 3
1, 3
2, 3
3, 4
4, 3
5, 7
6, 4
7, 5

In [72]:
for index, girl in enumerate(names):
    names[index] = len(girl)

In [73]:
names

[3, 3, 3, 4, 3, 7, 4, 5]

In [55]:
len(names[0])

3

In [61]:
names[0] = 'Sally'

In [62]:
names

['Sally', 'Bea', 'Cat', 'Dank', 'Eva', 'Felicia', 'Gina', 'Lizzo']

In [57]:
nums = [1, 2, 3]

In [58]:
nums[0] = 5

In [59]:
nums

[5, 2, 3]

In [19]:
names =  ['Ada', 'Bea', 'Cat', 'Dank', 'Eva', 'Felicia', 'Gina', 'Lizzo']

In [20]:
print(len(names))

print('------------')
index = 0

while index < 8:
    names[index] = len(names[index])
    # increment index by 1
    index += 1 # same as --> index = index + 1

print(names)

8
------------
[3, 3, 3, 4, 3, 7, 4, 5]

In [15]:
names[1] = 5

In [16]:
names

['Ada', 5, 'Cat', 'Dank', 'Eva', 'Felicia', 'Gina', 'Lizzo']